<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Shrift OCR Engine</title>
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <style>
    </style>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="header">
        <div class="navbar-header">
          <a id="shrift" href="#"><img class='icon' src="{{ url_for('static', filename='img/icon.png') }}" /></a>
          <a id="save" href="#"><img class='icon' src="{{ url_for('static', filename='img/new.png') }}" /></a>
          <a id="erase" href="#"><img class='icon' src="{{ url_for('static', filename='img/eraser.png') }}" /></a>
          <a id="delete" href="#"><img class='icon' src="{{ url_for('static', filename='img/trash.png') }}" /></a>
        </div>
      </div>
    </div>

    <div class='container contents'>
      {% autoescape false %}
      {{ body }}
      {% endautoescape %}
    </div>
  </div>
</body>
</html>
