* {
	-webkit-user-select: none;
}

body {
	padding-top: 60px
}

div.header {
	padding: 3px;
}

div.contents {
	text-align: center;
}

.icon {
	width: 40px;
}

canvas#canvas {
	margin: auto;
	border: solid;
}
