@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
}

* {
	-webkit-user-select: none;
}

body {
	margin: 0;
	background: linear-gradient(#bbb, #444);
	height: 1400px;
}

div.header {
	height: 60px;
	margin-bottom: 10px;
	padding: 3px;
	background-color: #f0f0f0;
}

div.contents {
	text-align: center;
}

.icon {
	width: 60px;
}

.icon:active {
	background-color: #666;
}

#pen   { opacity: 1.0 }
#erase { opacity: 0.3 }
#undo  { opacity: 0.3 }
#redo  { opacity: 0.3 }

#canvas_wrapper {
	position: relative;
}

canvas#canvas {
	z-index: 0;
	margin: auto;
	border: solid 1px #888;
	border-radius: 10px;
	box-shadow: 8px 8px 5px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

div#shrift {
	-webkit-transition: opacity 0.5s linear;
	transition: opacity 1s linear;
	position: absolute;
	bottom: 100px;
	right: 100px;
	width: 160px;
	height: 160px;
	background-color: #aaa;
	color: #fff;
	font-size: 30px;
	border-radius: 80px;
	text-align: center;
	line-height: 160px;
	opacity: 1;
}

div#shrift * {
	vertical-align: middle;
}

div#shrift:active {
	background-color: #666;
}

div#shrift.transparent {
	opacity: 0;
}

div#eraser {
	position: absolute;
	display: none;
	width: 50px;
	height: 50px;
	background-color: #f8f8f8;
	border: #888 1px solid;
	border-radius: 25px;
}
