body {
	padding-top: 60px
}

body > .container {
	margin: 0;
}

.sidebar-nav {
	background: #cccccc;
	padding: 10px 0px 10px 0px;
}

.sidebar-nav .row {
	margin: 0;
}

.sidebar-nav .sidebar-brand {
	height: auto;
	line-height: 30px;
	font-size: 2.0rem;
	list-style-type: none;
}

.sidebar-brand > a {
	display: block;
	color: gray;
	padding-left: 10px;
}

.hiragana {
	font-family: "HiraMaruProN-W4";
	font-size: 20px;
	padding: 0px 12px 0px 12px;
}

div#progress {
	position: relative;
}

div#loading {
	position: absolute;
	left: 50%;
}

button.canvas {
	font-size: 2.5rem;
	margin-right: 20px;
}

button.btn-info:active {
	background: #00f;
}

button.btn-warning:active {
	background: #f00;
}

input[type=text] {
	margin: 20px 0px 20px 0px;
	font-size: 2.5rem;
}
