DirectoryIndex shrift.wsgi

<FilesMatch "clear">
	Order deny,allow
	Deny from all
	Allow from 127.0.0.1
</FilesMatch>

IndexIgnore */*
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ shrift.wsgi/$1 [L]
